body { 
    margin: 20px;
    background: #7C8C9C;
    font-family: arial;
}
.hide { display: none; }
#wrapper { 
    width: 600px;
    margin: 1em auto;
}
#header {
    margin-bottom: 1em;
} 
#header h1 { 
    font-size: 2.4em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: "Trebuchet MS";
    text-shadow: 1px 1px 0 #555;
}
#header h1 a { color: #eee; text-decoration: none; }
.box {
    background: white;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
ul.things {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.things li.header {
    padding: 20px 20px 10px;
    color: #999;
    font-size: 0.8em;
}
ul.things li.footer {
    border-top: solid 1px #f5f5f5;
    padding: 10px 50px;
    color: #999;
    font-size: 0.8em;
}
ul.things li.thing {
    border-top: solid 1px #f5f5f5;
    padding: 3px 50px;
}
li.thing .content {
    color: #333;
    font-size: 14px;
}

li.thing .post_at {
    color: #999;
    font-size: 11px;    
}

#new {
    padding: 5px;
    margin: 16px 0 8px;
}
#new textarea {
    margin: 5px;
    border: solid 0px #444;
    width: 98%;
    height: 18px;
    min-height: 18px;
    line-height: 18px;
    font-size: 14px;
    font-family: arial;
    background: transparent;
}
.cur { background: yellow; }
