<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Past</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8"/>
    <script type="text/javascript" src="/static/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.hotkeys-0.7.9.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.json.js"></script>
    <script>
var $j = jQuery.noConflict();
$j(document).ready( function(){

$j('textarea.autogrow').autogrow();
bindkey( 'r', reload );
bindkey( 'i', new_thing );
bindkey( 'j', next_thing );
bindkey( 'k', prev_thing );
bindkey( 'd', delete_thing );
$j('#new textarea').bind('keydown', 'cmd+return', new_thing_submit );
$j('textarea').bind('keyup', 'esc', cancel );

function bindkey( k,f ) {
    $j(document).bind('keyup', { combi: k, disableInInput: true }, f );
}
function reload() {
    window.location.reload();
}
function new_thing(){
    $j('#new textarea').val('');
    $j('#new').show();
    $j('#new textarea').focus();
}
function new_thing_submit(){
    $j.post(
        '/new',
        { thing: $j('#new textarea').val() },
        function(json){
            $j('ul.things li.footer').before(json);
            $j('#new textarea').blur();
            $j('#new').hide();
        }
    );
}
function cancel(){
    $j('#new textarea').blur();
    $j('#new').hide();
    return false;
}
function delete_thing(){
    var cur = $j('ul.things li.thing.cur');
    if ( cur.length ){
        $j.post(
            '/delete',
            { tid: cur.attr('tid') },
            function(json){
                var ret = $j.evalJSON(json);
                if ( ret.ok ){
                    var next = cur.nextAll('.thing:first');
                    if ( next.length == 0 ){
                        next = cur.prevAll('.thing:first');
                    }
                    cur.removeClass('cur');
                    next.addClass('cur');
                    cur.remove();
                }else{
                    alert('failed delete this one.');
                }
            }
        );
    }
}
function next_thing(){
    var cur = $j('ul.things li.thing.cur');
    if ( cur.length == 0 ){
        cur = $j('ul.things li.thing:first');
        cur.addClass('cur');
    }else{
        var next = cur.nextAll('.thing:first');
        cur.removeClass('cur');
        if ( next.length == 0 ){
            next = $j('ul.things li.thing:first');
        }
        next.addClass('cur');
    }
}
function prev_thing(){
    var cur = $j('ul.things li.thing.cur');
    if ( cur.length == 0 ){
        cur = $j('ul.things li.thing:last');
        cur.addClass('cur');
    }else{
        var prev = cur.prevAll('.thing:first');
        cur.removeClass('cur');
        if ( prev.length == 0 ){
            prev = $j('ul.things li.thing:last');
        }
        prev.addClass('cur');
    }
}

    });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header"><h1><a href="/">Past</a></h1></div>
        <div id='content'>

<div class="box">
<ul class="things">
    <li class="header">[% date.format( today.day, "%A, %e %b %Y") %]</li>
    [% FOREACH thing = today.things %]
        [% INCLUDE thing.html %]
    [% END %]
    <li class="footer">[% today.things.size %] things</li>
</ul>
</div>

<div id="new" class="box hide">
    <textarea class="autogrow"></textarea>
</div>

        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
