<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Past</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8"/>
    <script type="text/javascript" src="/static/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.hotkeys-0.7.9.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.editinplace.packed.js"></script>
    <script>var $j = jQuery.noConflict();</script>
</head>
<body>
    <div id="wrapper">
        <div id="header"><h1><a href="/">Past</a></h1></div>
        <div id='content'>[% content %]</div>
        <div id="footer"></div>
    </div>
</body>
</html>

